################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Peliculas.API/.vs/Peliculas.API
/Peliculas.API/Peliculas.API/bin/Debug/netcoreapp3.0
/Peliculas.API/Peliculas.API/obj/Debug/netcoreapp3.0
/Peliculas.API/Peliculas.API/obj
